/*  root variables */
:root {
  --color--primary: #2659F8;
  --color--primary--light: #ced4e2;
  --color--primary--bright: #fd6f4c;
  --color--primary--dark: #4b568c;
  --color--primary--text: #fff;
  --color--primary--green: #0CC240;
  --color--primary--shadow-green: #cbefe2;
  --color--primary--shadow-pink: #a87184;
  --color--primary--light-pink: #ddb0ba;
}

/*  global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* styles */
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height:  100vh;
  padding: 40px 0;
}

.left {
  background-color: var(--color--primary--shadow-green);
  width: 20%;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
.left .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.left .logo img {
  width: 50%;
}
.separator{
  background-color: var(--color--primary--text);
  margin: 20px 0;
  position: relative;
  left: 20px;
  padding:  8px 20px;
  border-radius: 20px 0 0 20px;
}
.separator p{
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  gap: 10px;

}
.dash-icon{
  font-weight: 0;
  
  color: var(--color--primary--bright);
}
.options{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.option{
  display: flex;
  gap: 10px;
  flex-direction: row;
  background-color: var(--color--primary--light-pink);
  border-radius:  10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.center {
  width: 50%;
  background-color: var(--color--primary--light);
}

.right {
  width: 50%;
  background-color: var(--color--primary--light);
}
